@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  color: #515151;
}

a:hover,
a:active {
  text-decoration: none;
}

@keyframes menuMoveDown {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}
.AppCard {
  background-color: #fff;
  margin-bottom: 10px;
}
.AppCard .body {
  padding: 15px;
  border: 1px solid #ced4da;
  border-bottom: none;
}
.AppCard .body h5 {
  padding: 5px 0px 5px 0px;
  font-size: 15px;
  font-weight: bold;
}
.AppCard .body h4 {
  padding: 5px 0px 5px 0px;
  font-size: 12px;
}
.AppCard .body h4 span {
  display: block;
  padding-top: 5px;
  font-size: 15px;
}
.AppCard .footer {
  display: flex;
}
.AppCard .footer a {
  flex-grow: 1;
  border-radius: 0px;
}

.AppSection {
  padding: 15px 0px 15px 0px;
  background-color: #fff;
}
.AppSection--spacebottom {
  padding-bottom: 50px;
}

.MasjedAccordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #2e6da4;
  color: #fff;
}
.MasjedAccordion--active, .MasjedAccordion:hover {
  background-color: #337ab7;
}
.MasjedAccordion--active::after {
  content: "−" !important;
}
.MasjedAccordion::after {
  content: "+";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.MasjedAccordion__panel {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.MasjedAccordion__panel p {
  padding: 20px;
}

.AppForm {
  padding: 5px;
}
.AppForm .control-label {
  text-align: left !important;
}
.AppForm label {
  padding: 5px 0px 8px 0px;
  display: block;
  position: relative;
}
.AppForm label span.delete {
  position: absolute;
  margin-left: auto;
  right: 0px;
  top: 0px;
}
.AppForm label span.delete i {
  display: block;
  padding: 3px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: #dc3545;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
}
.AppForm .row {
  margin: 0px;
  padding: 0px !important;
}
.AppForm .col-xs-6 input {
  width: 97%;
}
.AppForm--btnPreview, .AppForm--btnSave, .AppForm--btnPenilaian {
  border-radius: 0px;
  font-size: 12px;
  color: #fff;
}
.AppForm--btnPreview:focus, .AppForm--btnPreview:hover, .AppForm--btnPreview:active:hover, .AppForm--btnSave:focus, .AppForm--btnSave:hover, .AppForm--btnSave:active:hover, .AppForm--btnPenilaian:focus, .AppForm--btnPenilaian:hover, .AppForm--btnPenilaian:active:hover {
  color: #fff;
  font-weight: normal !important;
}
.AppForm--btnPreview i, .AppForm--btnSave i, .AppForm--btnPenilaian i {
  font-size: 20px;
}
.AppForm--btnPreview {
  background-color: #198754;
}
.AppForm--btnSave {
  background-color: #0d6efd;
}
.AppForm--btnPenilaian {
  background-color: #495057;
}
.AppForm .target {
  padding: 10px 0px 10px 0px;
}
.AppForm__floatButton {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  display: block;
  border: none;
  text-align: center;
}
.AppForm__floatButton button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 30px;
  font-weight: bold;
  background: #198754;
  color: #fff;
  border: 0px solid #ffffff;
}
.AppForm__floatButton button:focus {
  outline: none;
}
.AppForm__floatButton p {
  margin-top: 10px;
  font-weight: bold;
}
.AppForm .AppFormGroup {
  margin-bottom: 20px;
}

.preview {
  display: none;
  position: absolute;
  width: 100%;
  height: 79%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  top: 51px;
  left: 0px;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 3000;
}
.preview .previewWrapper {
  position: relative;
  background-color: #fff;
  padding: 10px;
  height: 100%;
  padding-top: 35px;
  overflow: auto;
}
.preview .previewWrapper .closeBtn {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-color: #dc3545;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.owl-carousel {
  padding: 10px;
}
.owl-carousel .owl-item {
  cursor: pointer;
}
.owl-carousel .owl-item .gantunganCol {
  background-color: #198754;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  height: 50px;
  border-radius: 5px;
}
.owl-carousel .owl-item .gantunganCol p {
  position: relative;
  top: 15px;
  font-size: 20px;
}

.AppEvent {
  padding: 15px;
}

.AppMitraInfo__block {
  display: flex;
  justify-content: space-between;
}
.AppMitraInfo__image {
  display: block;
}
.AppMitraInfo__image h5 {
  font-size: 1.4rem;
  color: #337ab7;
}
.AppMitraInfo__image h3 {
  background: #337ab7;
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  padding: 3px 15px;
  text-align: center;
  font-weight: bold;
}
.AppMitraInfo__notification {
  display: block;
}
.AppMitraInfo__bell i {
  font-size: 30px;
}
.AppMitraInfo__data h5 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: bold;
}
.AppMitraInfo__data h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.AppMitraInfo__data h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}
.AppMitraInfo__button button {
  position: relative;
  top: 27%;
}

.AppApplication h5 {
  font-weight: bold;
}
.AppApplication__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  vertical-align: middle;
}
.AppApplication__list a {
  box-sizing: border-box;
  margin: 15px 0px 0 0;
  outline: 1px solid #ced4da;
  width: 31%;
  height: 110px;
  padding: 30px 10px 10px 10px;
  text-align: center;
  vertical-align: middle;
}
.AppApplication__list a i {
  font-size: 40px;
}
.AppApplication__list a p {
  margin-top: 5px;
  font-size: 0.7rem;
}

.AppGrosir {
  min-height: 400px;
}
.AppGrosir h5 {
  font-weight: bold;
}

.AppLogin {
  padding: 15px;
}
.AppLogin h5 {
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 4px;
}
.AppLogin h4 {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.AppLogin h4 .linkRegister {
  color: #337ab7;
}
.AppLogin__image img {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 180px;
}
.AppLogin__form {
  padding-top: 20px;
}
.AppLogin__form label input[type=checkbox] {
  display: inline-block;
}
.AppLogin__form label span {
  position: relative;
  display: inline-block;
  top: -1px;
  left: 4px;
}
.AppLogin__mumuLogo {
  text-align: center;
}
.AppLogin__mumuLogo img {
  width: 80px;
}

.AppRegister {
  padding: 15px;
}
.AppRegister h5 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}
.AppRegister h4 {
  font-size: 15px;
  padding: 10px 0 10px 0;
  line-height: 25px;
}
.AppRegister h4 .red,
.AppRegister h4 .blue {
  font-weight: bold;
}
.AppRegister h4 .red {
  color: #b91010;
}
.AppRegister h4 .blue {
  color: #0f56b3;
}
.AppRegister__form {
  margin-top: 2px;
}
.AppRegister__form div {
  margin-bottom: 10px;
}
.AppRegister__form .label-input {
  padding: 10px 0px 10px 0px;
  display: block;
  color: #337ab7;
}

.AppOtp {
  padding: 15px;
}
.AppOtp h5 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #337ab7;
}
.AppOtp h4 {
  text-align: center;
  font-size: 15px;
  color: #6c757d;
}
.AppOtp h5,
.AppOtp h4 {
  margin: 10px 0px;
}
.AppOtp__box {
  position: relative;
  margin: 0 auto;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
}
.AppOtp__box input {
  margin: 0px 7px;
  flex-grow: 1;
  display: inline-flex;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid #337ab7;
  text-align: center;
  background-color: transparent;
}
.AppOtp__box input:focus {
  outline: none;
}
.AppOtp__wrapper {
  margin-top: 20px;
  background: #ced4da;
  padding: 15px 0px;
  border-radius: 8px;
}

.AppGantungan h5 {
  position: relative;
  margin: 0 auto;
  display: block;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background: #0dcaf0;
  width: 50%;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 15px;
}
.AppGantungan .modalGantungan {
  display: none;
  max-width: 480px;
  width: 450px;
  position: fixed;
  bottom: 13%;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 3000;
  border-radius: 5px;
}
.AppGantungan .modalGantungan .modalGantunganWrapper {
  position: relative;
  background-color: #fff;
  padding: 10px;
  height: 100%;
  padding-top: 35px;
  overflow: auto;
  border-radius: 5px;
}
.AppGantungan .modalGantungan .modalGantunganWrapper .modalGantunganClose {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-color: #dc3545;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.AppGantungan .modalGantungan .modalGantunganWrapper .gantunganTarget {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.AppGantungan .modalGantungan .modalGantunganWrapper .gantunganTarget .btn {
  border: 1px solid #ddd;
  width: 32%;
}
.AppGantungan .owl-carousel {
  padding: 10px;
}
.AppGantungan .owl-carousel .owl-item {
  cursor: pointer;
}
.AppGantungan .owl-carousel .owl-item .gantunganCol {
  background-color: #6c757d;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  min-height: 100px;
  border-radius: 5px;
}
.AppGantungan .owl-carousel .owl-item .gantunganCol p {
  position: relative;
  font-size: 22px;
}
.AppGantungan .owl-carousel .owl-item .gantunganCol .totalpoint {
  position: relative;
  top: 25px;
  background: #fd7e14;
  padding: 10px;
}
.AppGantungan .owl-carousel .owl-item .gantunganCol .totalpoint span {
  display: block;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 1px;
}
.AppGantungan .owl-carousel .owl-item .gantunganCol .totalpoint span.point {
  display: block;
  position: relative;
  top: 5px;
  font-size: 13px;
}
.AppGantungan .owl-carousel .owl-item .assignValue {
  background-color: #198754;
}

.AppGantunganStd label {
  display: block;
  cursor: pointer;
}
.AppGantunganStd .owl-carousel {
  padding: 10px;
}
.AppGantunganStd .owl-carousel .owl-item {
  cursor: pointer;
}
.AppGantunganStd .owl-carousel .owl-item .gantunganCol {
  background-color: #6c757d;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  border-radius: 5px;
}
.AppGantunganStd .owl-carousel .owl-item .gantunganCol p {
  position: relative;
  font-size: 22px;
}
.AppGantunganStd .owl-carousel .owl-item .gantunganCol .totalpoint {
  position: relative;
  top: 25px;
  background: #fd7e14;
  padding: 10px;
}
.AppGantunganStd .owl-carousel .owl-item .gantunganCol .totalpoint span {
  display: block;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 1px;
}
.AppGantunganStd .owl-carousel .owl-item .gantunganCol .totalpoint span.point {
  display: block;
  position: relative;
  top: 5px;
  font-size: 13px;
}
.AppGantunganStd .owl-carousel .owl-item .assignValue {
  background-color: #198754;
}

.AppGantunganManual label {
  display: block;
  cursor: pointer;
}
.AppGantunganManual .owl-carousel {
  padding: 10px;
}
.AppGantunganManual .owl-carousel .owl-item {
  cursor: pointer;
}
.AppGantunganManual .owl-carousel .owl-item .gantunganCol {
  background-color: #6c757d;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
  min-height: 100px;
  border-radius: 5px;
}
.AppGantunganManual .owl-carousel .owl-item .gantunganCol p {
  position: relative;
  font-size: 22px;
}
.AppGantunganManual .owl-carousel .owl-item .gantunganCol .totalpoint {
  position: relative;
  top: 25px;
  background: #fd7e14;
  padding: 10px;
}
.AppGantunganManual .owl-carousel .owl-item .gantunganCol .totalpoint span {
  display: block;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 1px;
}
.AppGantunganManual .owl-carousel .owl-item .gantunganCol .totalpoint span.point {
  display: block;
  position: relative;
  top: 5px;
  font-size: 13px;
}
.AppGantunganManual .owl-carousel .owl-item .assignValue {
  background-color: #198754;
}
.AppGantunganManual .modalGantungan {
  display: none;
  max-width: 480px;
  width: 450px;
  position: fixed;
  bottom: 13%;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 3000;
  border-radius: 5px;
}
.AppGantunganManual .modalGantungan .modalGantunganWrapper {
  position: relative;
  background-color: #fff;
  padding: 10px;
  height: 100%;
  padding-top: 35px;
  overflow: auto;
  border-radius: 5px;
}
.AppGantunganManual .modalGantungan .modalGantunganWrapper .modalGantunganClose {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background-color: #dc3545;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.AppGantunganManual .modalGantungan .modalGantunganWrapper .gantunganTarget {
  padding: 20px 10px;
  height: 280px;
  overflow: auto;
}
.AppGantunganManual .modalGantungan .modalGantunganWrapper .gantunganTarget .btn {
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 5px;
}
.AppGantunganManual .modalGantungan .modalGantunganWrapper .gantunganTarget .btn-simpan {
  width: 91%;
  position: absolute;
  bottom: 10px;
  padding: 10px;
}

.AppGntInformation {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.AppGntInformation .body {
  padding: 20px;
}
.AppGntInformation .body h5 {
  font-weight: bold;
  font-size: 18px;
}
.AppGntInformation .body .header p,
.AppGntInformation .body .header h5 {
  display: inline-block;
}
.AppGntInformation .body .header h5 {
  font-size: 30px;
}
.AppGntInformation .body .pointText {
  margin-bottom: 5px;
}

.AppProfile {
  display: block;
  padding: 10px 0px;
  overflow: hidden;
}
.AppProfile h5 {
  font-size: 16px;
  padding: 10px 0px;
}
.AppProfile__profile {
  border: 1px solid #dee2e6;
  padding: 10px;
}
.AppProfile__profile .box-image {
  text-align: center;
  display: block;
  padding: 5px 0px;
}
.AppProfile__profile .box-image .image-profile {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background: #adb5bd;
  border-radius: 100px;
}
.AppProfile__profile .box-information {
  text-align: center;
}
.AppProfile__profile .box-information .textProfile h5,
.AppProfile__profile .box-information .textProfile h4,
.AppProfile__profile .box-information .textProfile .saldo-label,
.AppProfile__profile .box-information .textProfile .saldo-nominal {
  margin-bottom: 5px;
}
.AppProfile__profile .box-information .textProfile h5 {
  padding: 0px;
  font-size: 25px;
  font-weight: bold;
}
.AppProfile__profile .box-information .textProfile h4 {
  font-size: 15px;
}
.AppProfile__profile .box-information .textProfile .saldo-label {
  font-size: 13px;
}
.AppProfile__profile .box-information .textProfile .saldo-nominal {
  font-size: 18px;
}
.AppProfile__profile .box-information .actionProfile .btn {
  padding: 5px;
  font-size: 11px;
}
.AppProfile__toko {
  border: 1px solid #dee2e6;
  padding: 10px;
}
.AppProfile__toko h5 {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
.AppProfile__toko .btn {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 18px;
}
.AppProfile__toko .btn i {
  font-size: 23px;
}
.AppProfile__toko .btn span {
  position: relative;
  left: 10px;
}

.formGroupSetting {
  padding: 15px;
  box-sizing: border-box;
}
.formGroupSetting .form-group {
  margin-bottom: 0px;
}

.myCheckbox {
  font-size: 17px;
}
.myCheckbox div.checkboxlist {
  display: inline-block;
  width: 200px !important;
  padding: 10px;
}

.AppMainMenu {
  list-style-type: none;
  display: flex;
  border-width: 1px 0px 0px;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.35s ease 0s;
  text-decoration: none;
  width: 100%;
  max-width: 480px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  padding: 10px;
  font-size: 1em;
  border-top-style: solid;
  border-top-color: #dedede;
  margin: 0px;
  background-color: white;
  font-weight: normal;
  font-size: 0.7rem;
  justify-content: space-between;
}
.AppMainMenu__button {
  width: 33%;
  justify-content: space-between;
}
.AppMainMenu__button:hover {
  font-weight: bold;
}
.AppMainMenu__submitButton {
  flex-grow: 1;
  justify-content: space-between;
}
.AppMainMenu__submitButton:hover {
  font-weight: bold;
}
.AppMainMenu__icon {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
  font-size: 1.7rem;
}
.AppMainMenu--active {
  font-weight: bold;
}
.AppMainMenu__buttonAction {
  background-color: #337ab7;
  border: none;
  font-size: 20px;
  border-radius: 0;
  color: #fff;
}
.AppMainMenu__buttonAction:focus, .AppMainMenu__buttonAction:hover, .AppMainMenu__buttonAction:active:hover {
  background-color: #337ab7;
  color: #fff;
  font-weight: normal !important;
}
.AppMainMenu--full {
  width: 100%;
  padding: 10px;
}
.AppMainMenu__gateButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.AppMainMenu__gateButton button {
  display: block;
  flex-grow: 1;
  margin: 2px;
  padding: 10px;
}
.AppMainMenu__gateButton--main {
  background-color: #337ab7;
  color: #fff;
}
.AppMainMenu__gateButton--main:hover, .AppMainMenu__gateButton--main:focus {
  color: #fff;
}

.AppInputText {
  border: 1px solid #2e6da4;
  border-radius: 2px;
  padding: 20px 10px;
  color: #337ab7;
}
.AppInputText:focus, .AppInputText:hover:active {
  border: 1px solid #2e6da4;
  outline: none;
  box-shadow: none;
  color: #337ab7;
}

.AppInputGroup {
  position: relative;
  display: block;
  overflow: hidden;
}
.AppInputGroup i {
  position: absolute;
  font-size: 25px;
  top: 8px;
  left: 8px;
  color: #337ab7;
}
.AppInputGroup input {
  padding-left: 40px;
  color: #337ab7;
  font-size: 18px;
}

.AppInputSelect {
  border: 1px solid #2e6da4;
  border-radius: 2px;
  height: 40px;
}
.AppInputSelect:focus, .AppInputSelect:hover:active {
  border: 1px solid #2e6da4;
  outline: none;
  box-shadow: none;
  color: #337ab7;
}

.AppFormGroup {
  margin-bottom: 10px;
}
.AppFormGroup label {
  padding: 10px 0px;
}

.containerRadio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: #337ab7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containerRadio span.checklabel {
  position: relative;
  font-size: 15px;
  top: 4px;
  left: -9px;
  color: #2e6da4;
}

.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.containerRadio:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerRadio input:checked ~ .checkmark {
  background-color: #337ab7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerRadio input:checked ~ .checkmark:after {
  display: block;
}

.containerRadio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f0f0f0;
  color: #515151;
  font-size: 14px;
}

main {
  display: block;
}

.AppWrapper {
  background-color: #fff;
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0px auto;
  min-height: calc(100vh - 50px);
  padding-bottom: 65px;
}
.AppWrapper--grey {
  background-color: #f0f0f0;
}
.AppWrapper--plain {
  padding-bottom: 0px;
}

.AppSimpleHeader {
  background: #337ab7;
  max-width: 480px;
  z-index: 11;
  transition: menuMoveDown 0.5s;
}
.AppSimpleHeader--sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  left: 50%;
  transform: translate(-50%);
  animation: menuMoveDown 0.6s ease-in-out;
  width: 100%;
}
.AppSimpleHeader__wrapper {
  display: flex;
  justify-content: start;
}
.AppSimpleHeader__wrapper div a:hover {
  background-color: #2e6da4;
}
.AppSimpleHeader__wrapper div a,
.AppSimpleHeader__wrapper div p {
  transition: 0.3s;
  color: #fff;
  font-weight: bold;
}
.AppSimpleHeader__wrapper div a {
  display: block;
  padding: 8px;
}
.AppSimpleHeader__wrapper div p {
  position: relative;
  font-size: 18px;
  top: 16px;
  padding-left: 10px;
}
.AppSimpleHeader--white {
  background: #fff;
  -webkit-box-shadow: 0px 4px 6px -5px black;
  -moz-box-shadow: 0px 4px 6px -5px black;
  box-shadow: 0px 4px 6px -5px black;
}
.AppSimpleHeader--white a,
.AppSimpleHeader--white p {
  color: #6c757d !important;
}
.AppSimpleHeader--white a:hover {
  background-color: #f8f9fa !important;
}

.AppButton--primary {
  background-color: #337ab7;
  color: #fff;
}
.AppButton--primary:hover, .AppButton--primary:focus {
  background-color: #337ab7;
  color: #fff;
}
.AppButton--xl {
  padding: 7px 15px;
  font-size: 18px;
}
.AppButton--login {
  padding: 7px 30px;
  font-size: 15px;
  position: relative;
  margin: 0 auto;
}

.paddy-content {
  padding-top: 100px;
}

.spacer {
  display: block;
  height: 20px;
}

.paddingcard {
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-large {
  font-size: 35px;
}

.dummyHeight {
  min-height: 2000px;
}

.swal2-container {
  max-width: 480px;
  width: 100%;
  margin: 0px auto;
  min-height: calc(100vh - 50px);
}

.loading {
  position: fixed;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10000;
  top: 0;
}
.loading img {
  display: block;
  position: relative;
  height: 200px;
  margin: 0 auto;
  top: 30%;
}

.error-wrapper .error {
  color: #dc3545;
  padding: 6px 0px;
  font-size: 13px;
}

.targetMessage {
  font-size: 14px;
  color: #dc3545;
  text-align: center;
  padding: 10px;
}

.AppSuccess {
  padding: 20px;
}
.AppSuccess__box {
  padding: 30px 0px;
}
.AppSuccess__box img {
  display: block;
  width: 200px;
  position: relative;
  margin: 0 auto;
}
.AppSuccess p {
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
}

.btn-calendar {
  position: relative;
  top: 26px;
}

.ui-widget-header .ui-icon {
  background-color: #4c4c75;
  border-radius: 100%;
}

input[readonly] {
  background-color: white !important;
  font-size: 1em;
}

/*# sourceMappingURL=app.css.map */
