.myinput {
  font-size: 16px;
}

.signintitle .login {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.signintitle p {
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 18px !important;
}

.error-wrapper .error {
  padding: 0px;
  margin: 0px;
  color: #bb2c2c;
  font-size: 12px;
}

.spacer {
  display: block;
  height: 20px;
}

.mytable tr td {
  vertical-align: middle;
  padding: 6px;
  font-size: 13px;
}

.sweet-alert h2 {
  font-size: 20px;
}
.sweet-alert .sa-button-container .cancel {
  background: #a11717;
}
.sweet-alert .sa-button-container .cancel:hover {
  background: #bb1b1b;
}

.pickicon {
  display: block;
  position: relative;
}
.pickicon .list-icon {
  position: absolute;
  text-align: center;
  display: block;
  top: -10px;
  right: 0px;
  background-color: #443f3e;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
.pickicon .list-icon i {
  font-size: 20px;
}
.pickicon .list-icon p {
  font-size: 9px;
  margin: 0px;
  padding: 0px;
  line-height: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  background: none;
  color: #333;
}

.select2 {
  text-transform: capitalize;
}

.selectloading {
  background: #ff6600;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
  margin-left: 5px;
  padding: 2px 10px;
  font-size: 11px;
}

.myform input[type=file] {
  display: none;
}
.myform .fill {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 450px;
  height: 300px;
  background: #ccc;
  margin-bottom: 10px;
}
.myform .fill img {
  object-fit: cover;
  width: 450px;
  height: 300px;
}
.myform .verifikasi_title {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 20px;
  background: #aeebb7;
  padding: 20px;
  border-radius: 4px;
}
.myform .btn-verifikasi .form-group,
.myform .btn-verifikasi .control-label {
  margin-bottom: 0px !important;
  cursor: pointer;
}
.myform .color-accordion-block a {
  border: 1px solid #ddd !important;
  margin-bottom: 5px;
  border-radius: 10px;
}
.myform .color-accordion-block a.ui-state-active,
.myform .color-accordion-block a:focus,
.myform .color-accordion-block a:hover {
  color: #01a9ac;
  background-color: #fff !important;
}

.text-verify {
  font-size: 12px;
}
.text-verify span {
  display: inline-block;
}

.text-verify-nom {
  font-size: 25px;
}

.alamat {
  text-align: left;
  white-space: pre-wrap;
  line-height: 11px;
  width: 300px;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

.btn-sm {
  padding: 5px 10px;
}

.btn {
  margin: 2px;
}
.btn i {
  margin: 0px;
  padding: 5px;
  font-size: 15px;
}

.readonly-form h5 {
  font-weight: bold;
}
.readonly-form .label-input {
  font-size: 14px;
  color: #444;
}
.readonly-form .label-readonly {
  font-size: 18px;
  padding: 5px;
}
.readonly-form .label-readonly span {
  color: #ddd;
}
.readonly-form .image-masjid {
  display: block;
  height: 250px;
  width: 400px;
  background: #ccc;
}

#map {
  display: block;
  height: 400px;
  width: 100%;
  background-color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#wrapper-input {
  display: block;
  width: 400px;
  z-index: 1000;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 390px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

button[id=search-button] {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  width: 50px;
  background: blue;
  color: white;
  border: 0;
  -webkit-appearance: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.pac-container {
  background-color: #fff;
  z-index: 200000;
  position: fixed;
  display: inline-block;
  float: left;
}

.modal {
  z-index: 200000;
}

.modal-backdrop {
  z-index: 100000;
}

.ck-editor__editable {
  min-height: 500px;
}

/*# sourceMappingURL=bo.css.map */
